.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
    max-width: 360px;
}

.sm-grid-item {
    background-color: $white;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 10px;
    border: 1px solid $dark;
    opacity: 0.8;
    cursor: pointer;
    img {
      margin: 0;
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
    }
}

.item-grid-selected {
  border: 2px solid $primary;
}

.sm-grid-item:hover {
  border-color: white;
  opacity: 1;
  border: 1px solid $primary;
}

