.canvas-wrapper {
  position: relative;
  width: 528px;
  align-items: center;
  justify-content: center;
  margin: auto;
  .blue-box {
    position: absolute;
    top: -10%;
    right: -12%;
    width: 528px;
    height: 528px;
    background-color: $primary;
    border-radius: 16px;
  }
  .blue-box-2 {
    position: absolute;
    z-index: 0;
    top: 4%;
    right: -12%;
    width: 528px;
    height: 528px;
    background-color: $primary;
    border-radius: 16px;
  }
}

.div-fade {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0.3;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0.3;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0.3;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0.3;
  }
  to {
      opacity: 1;
  }
}

/***************************/
/**** Canvas Background ****/ 
/***************************/

.canvas-background {
  position: relative;
  display: flex;
  width: 528px;
  height: 528px;
  border-radius: 16px;
  background: $white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
  img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }
}

.canvas-background-p-0 {
  position: relative;
  display: flex;
  width: 528px;
  height: 528px;
  border-radius: 16px;
  background: $white;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
  img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .placeholder {
    border-radius: 16px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .canvas-wrapper {
    //width: 100%;
    width: 350px;
  }
  .canvas-background {
    width: 350px;
    height: 350px;
    border-radius: 5%;
  }
  .canvas-background-p-0 {
    width: 350px;
    height: 350px;
    border-radius: 5%;
  }
}

/* Tablets: Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .canvas-wrapper {
      width: 400px;
      margin: auto;
      justify-content: center;
    }
    .canvas-background {
      width: 400px;
      height: 400px;
      border-radius: 5%; 
    }
    .canvas-background-p-0 {
      width: 400px;
      height: 400px;
      border-radius: 5%; 
    }  
}

/* Tablets: Portrait iPad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .canvas-wrapper {
      width: 385px;
      margin: auto;
      justify-content: center;
    }
    .canvas-background {
      width: 385px;
      height: 385px;
      border-radius: 5%;  
    }
    .canvas-background-p-0 {
      width: 385px;
      height: 385px;
      border-radius: 5%;
    }
}

/************************/
/**** Custom Buttons ****/
/************************/

.shadow-button {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}

.buttons {
  height: 60px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  border: transparent;
  text-align: center;
  color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}

.large-button {
  display: block;
  width: 100%;
  height: 60px;
  background-color: $primary;
  color: $white;
}

.large-button:hover {
  background-color: $default;
  color: $dark;
  opacity: 1
}

.md-button {
  display: inline-block;
  width: 47%;
  background-color: $primary;
}

.md-button-2 {
  display: inline-block;
  width: 48%;
  border-radius: 10px;
  background-color: $default;
}

.md-button-success {
  display: inline-block;
  width: 48%;
  background-color: $success;
  color: $dark;
}

.md-button-disagree{
  display: inline-block;
  width: 48%;
  background-color: $danger;
  color: $dark;
}

.disagree-opt {
  display: inline-block;
  width: 48%;
  border-radius: 10px;
  background-color: $default;
  color: $dark;
}

.disagree-opt:hover {
  background-color: $danger;
  color: $white;
}

.agree-opt {
  display: inline-block;
  width: 48%;
  border-radius: 10px;
  background-color: $default;
  color: $dark;
}

.agree-opt:hover{
  background-color: $success;
  color: $white;
}

.md-button:hover {
  background-color: $primary;
  opacity: 0.8
}

.md-button-success:hover {
  background-color: $success;
  color: black;
  opacity: 0.8
}

.md-button-reset {
  display: inline-block;
  width: 126px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
  background-color: $white;
  color: $dark;
  margin: 0 2px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.sm-button-icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  font-size: 16px;
  background-color: $white;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  color: $dark;
}

.sm-button {
  display: inline-block;
  width: 18%; 
  background-color: $white;
  border-radius: 12px;
}

.md-button-right {
  display: inline-block;
  width: 79%;
  background-color: $primary;
  border-radius: 12px;
}

/* Mobile */
@media screen and (max-width: 576px) {
  .large-button {
    width: 100%;
    height: 40px;
  }
  .md-button-reset {
    height: 30px;
    width: 70px;
    font-size: 9px;
  }
  .sm-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }
  .sm-button {
    width: 25%; 
    height: 40px;
    font-size: 14px;
  }
  .md-button-right {
    width: 70%; 
    height: 40px;
    font-size: 14px;
  }
  .md-button-2 {
    width: 40%;
  }
  .agree-opt {
    width: 40%;
  }
  .disagree-opt {
    width: 40%;
  }
  .md-button-success {
    width: 40%;
  } 
  .md-button-disagree{
    width: 40%;
  }
}

/* Tablets: Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .large-button {
      width: 400px;
    }
}

/* Tablets: Portrait iPad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .large-button {
      width: 385px;
    }
}

/*******************************/
/**** Custom Loader/Spinner ****/
/*******************************/

.custom-loader {
  position: relative;
  display: inline-block; 
  transition: transform 150ms ease-in-out;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    font-family: $font-family-md;
    padding: 45% 0;
    color: #1B4978;
  }
  img { 
    max-width: 100%;
    max-height: 100%;
    margin: 0;
 }
}

.custom-loader svg {
  position: absolute;
  top: 0;
  left: 0;
}

.loader svg {
  position: absolute;
  top: 0;
  left: 0;
}

/***************/
/**** Video ****/
/***************/

.video_box {
  video {
    width: 100%;
    display: block;
    border-radius: 16px;
  }
  .custom-controls {
    display:flex;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 100; 
  }
  .fullscreen-btn {
    margin: 10px 10px;
    padding: 4px;
    cursor: pointer;
    font-family: $font-family-md;
  }
}

/*******************/
/*** Canvas Mask ***/
/*******************/

.tools-wrapper {
  position: relative;
  z-index: 5;
  padding: 6px 6px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}

/*******************/
/*** Canvas Pose ***/
/*******************/

.pose-wrapper {
  position: relative;
  svg line {
    pointer-events: none;
  }
  svg circle {
    cursor: move;
  }
}

.tooltip-pose {
  position: absolute;
  background-color: $dark;
  color: $white;
  border: none;
  padding: 3px 8px;
  top: 0;
  left: 0;
  font-size: 0.8em;
  border-radius: 8%;
  animation: pop 0.2s ease-out 1;
}
@keyframes pop {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}