.main-content {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background-color: $secondary;
  color: $dark;
  -webkit-text-size-adjust: 100%;

  // Container
  .container-fluid {
    padding-left: $main-content-padding-x;
    padding-right: $main-content-padding-x;
  }
  button {
    cursor: pointer;
  }
}

/**** Home Page ****/

.home-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: normal;
    color: $default;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

.home-footer {
  position: absolute;
  bottom: 0%;
  cursor: pointer;
  h4 {
    font-size: 18px;
    font-weight: 400;
  }
}

.home-img-wrapper {
  position: absolute;
  height: 780px;
  bottom: 0;
  right: 0;
  img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }
}

.reg-title {
  font-size: 36px;
}

@media screen and (max-width: 576px) {
  .home-img-wrapper {
    height: 280px;
  }
  .reg-title {
    font-size: 20px;
    font-weight: 600;
  }
}


/**** Main Page ****/

.bg-main {
  position: relative;
  background-image: url('../background_layer.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain ;
  background-color: $secondary;
}

.feedback-wrapper {
  position: absolute;
  top:0;
  right:0;
  padding: 1rem;
  color: $white;
  cursor: pointer
}

.main-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .step-title {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-size: 56px;
    text-transform: uppercase;
  }
  .bold {
    font-weight: 700;
  }
}

.navbar-title {
  position: absolute;
  top: 5%;
  left: 8%;
  h3 {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.4px;
    color: $default;
  }
}

.navbar-title-waiver {
  position: absolute;
  top: 5%;
  left: 10%;
  h3 {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.4px;
    color: $default;
  }
}

.col-left {
  overflow: auto;  
}

.col-right {
  padding: 1rem;
  overflow: auto;
}

/*** Mobile ***/
@media screen and (max-width: 576px) {
  .bg-main {
    position: relative;
    background-image: url('../background_layer.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain ;
    background-color: $secondary;
  }
  .main-page {
    align-items: flex-start;
  }
  .navbar-title {
    position: relative;
    padding-top: 15px;
    left: 0%;
    text-align: center;
    h3 {
      color: $white;
    }
  }
  .navbar-title-waiver {
    position: relative;
    padding-top: 15px;
    left: 0%;
    text-align: center;
    h3 {
      color: $default;
    }
  }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 998px)  {
  .navbar-title {
    position: relative;
    padding-top: 15px;
    left: 0%;
    text-align: center;
    h3 {
      color: $default;
    }
  }
}

/*** Tablets and above ***/
@media (min-width: 576px)  {
  .col-left{
    min-width: 380px;
  }
  .col-right {
    min-width: 500px;
  }
}

/**** Waiver Page / Modal ****/

.waiver-step-container {
  padding: 10px;
  width: 100%;
  height: 70vh;
  max-width: 550px;
  overflow: auto;
  margin-bottom: 20px;
  .step-title {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-size: 56px;
    text-transform: uppercase;
  }
  .bold {
    font-weight: 700;
  }
}

.waiver-step-container-wrap {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .step-title {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-size: 56px;
    text-transform: uppercase;
  }
  .bold {
    font-weight: 700;
  }
}

@media screen and (max-width: 576px) {
  .waiver-step-container-wrap {
    height: 100vh;
  }
  .waiver-step-container{
    height: 50vh;
  }
}

/**** Share Page ****/

.share-page {
  min-height: 100vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
