.main-content {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background-color: $secondary;
  color: $dark;
  -webkit-text-size-adjust: 100%;

  // Navbar
  .navbar-top {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // Container
  .container-fluid {
    padding-left: $main-content-padding-x;
    padding-right: $main-content-padding-x;
  }
}

.home-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
    color: #641E14;
  }
}

.home-footer {
  position: absolute;
  bottom: 0%;
  color: #641E14;
  cursor: pointer;
  h4 {
    font-size: 18px;
    font-weight: 400;
  }
}

.home-img-wrapper {
  position: absolute;
  width: 685px;
  height: 685px;
  bottom: 0;
  right: 0;
  img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 576px) {
  .home-img-wrapper {
    width: 200px;
    height: 200px;
  }
}

.reg-title {
  font-size: 36px;
}

@media screen and (max-width: 576px) {
  .reg-title {
    font-size: 20px;
    font-weight: 600;
  }
}

.main-page {
  min-height: 82vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .main-page {
    align-items: flex-start;
  }
}

.share-page {
  min-height: 82vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}