**/*.pt
**/*.pth
**/*.onnx
**/__pycache__
**/coco/
.DS_Store
runs
ckpts
annotations
examples
outputs
.ipynb_checkpoints
easy_ViTPose.egg-info
checkpoints/*
!checkpoints/
!checkpoints/README.txt
example/*
!example/